@import '../../styles.scss';

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px 20px;
    background-color: rgba($color-base, 0.9);
}

.footer {
    flex-shrink: 0;
}

.clock {
    font-size: 25px;
    margin-left: auto;
    color: $color-gold;
}