$fontSize: 36px;
$fontHover: 48px;
$logoSize: 36px;


.social-component {
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.social-group {
    margin-bottom: 20px;
    text-align: center;
}

.social-group h2 {

    font-size: 48px;
    color: #334;
    display: inline-block;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
}

a,
.icon {
    text-decoration: none;
    color: #ff6f00;
    display: flex;
    align-items: center;
    font-size: $fontSize;
    width: $logoSize;
    height: $logoSize;
    transition: all 0.5s;
}

a:hover,
.icon:hover {
    width: $fontHover;
    height: $fontHover;
    font-size: $fontHover;
}

.fa-icon {
    font-size: $fontSize;
    margin-right: 10px;
}