$fontSize: 36px;
$fontHover: 48px;
$logoSize: 32px;

.icon {
    width: $logoSize;
    height: $logoSize;
    transition: all 0.5s;
    filter: grayscale(100%);

    &:hover {
        width: $fontHover;
        height: $fontHover;
        font-size: $fontHover;
        filter: none;
    }
}
