<div class="social-component">
  @if (!failed) {
    @for (group of socials | keyvalue: asIs; track group) {
      <div>
        @if ((group.value| filterIcon).length > 0) {
          <ng-container class="scoial-group">
            <h4>{{ group.key | titlecase}}</h4>
            <ul>
              @for (link of group.value | filterIcon; track link) {
                <li>
                  <a [href]="link.url" target="_blank">
                    <ng-container>
                      <img [src]="link.logo" [alt]="link.name.slice(0,2)" class="icon">
                    </ng-container>
                  </a>
                </li>
              }
            </ul>
          </ng-container>
        }
      </div>
    }
  }
  @if (failed) {
    <h2>Failed to load social links!</h2>
  }
</div>
