<div class="tw-p-[20px] tw-rounded-[8px] tw-items-center tw-flex tw-flex-col tw-justify-center tw-text-center">
  @if (!failed && socials) {
    @for (group of socials | keyvalue: asIs; track group) {
      @if ((group.value| filterIcon).length > 0) {
        <div class="tw-m-3 tw-text-center">
          <h4 class="tw-text-[25px] tw-font-[700]">{{ group.key | titlecase }}</h4>
          <ul class="tw-list-none tw-p-0 tw-flex tw-flex-wrap tw-justify-center tw-gap-4">
            @for (link of group.value | filterIcon; track link) {
              <li class="tw-flex tw-justify-evenly tw-items-center tw-h-[70px]">
                <a [href]="link.url" target="_blank">
                  <img [ngSrc]="link.logo" class="icon tw-no-underline tw-flex tw-items-center" alt="" width="32" height="32">
                </a>
              </li>
            }
          </ul>
        </div>
      }
    }
  } @else {
    <h2>Failed to load social links!</h2>
  }
</div>
