@use '../../../../styles' as main;

.level-container {

  .level-bar {
    height: 15px;
    border-radius: 5px;

    .level-bar-segment {
      flex: 1;
      background-color: #242234;
      margin: 0 1px;

      &.filled {
        background-color: #313f9b;
      }
    }
  }

  .string {
    transition: all .3s;
  }

  &:hover {
    .string {
      color: main.$color-gold;
      font-weight: bold;
    }

    .level-bar-segment {
      background-color: #9647e0;
    }
  }
}