.landing-container {
    background-size: cover;
    background-position: center;
    height: calc(100vh - 57px);
    color: #e0e0e0;
}

.landing-content {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    background: rgba(26, 24, 37, 0.85);
}

.landing-title {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.landing-subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.landing-description {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

small {
    color: #6d6d6d;

    a {
        color: #7e7e7e;
        text-decoration: none;
        transition: color 0.3s ease;
    }
}

.landing-link {
    color: #7e7e7e;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #c5c5c5; // Hover color
    }
}

@media (max-width: 768px) {
    .landing-title {
        font-size: 2.5rem;
    }

    .landing-subtitle {
        font-size: 1.25rem;
    }

    .landing-description {
        font-size: 1rem;
    }
}
