<div class="w-full bg-gradient-to-br from-slate-900 to-blue-900 flex items-center justify-center" pAdaptiveHeight>
  <div class="w-4/5 items-center">
    <div class="">
      <div class="text-9xl max-md:text-4xl font-[550] leading-tight block text-left">
        <div>I am Minh,</div>
        <div class="whitespace-nowrap">
          <span>a </span>
          <p-text-rotator [textArray]="textArray" duration="2500" fade="250" class="relative" mode="random"/>
          <span>.</span>
        </div>
      </div>
      <p class="text-xl max-md:text-base">
        Find out how my skills and experiences can make a difference.
      </p>
    </div>
  </div>
</div>