:host {
  --bgColor: #4a90e2;
  --hoverColor: var(--color-iris);
}

.navibar {
  width: 100%;
  background-color: var(--primBackgroundColor);
  color: white;
  display: inline-block;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-sizing: border-box;
  border-bottom: solid var(--color-foam);
  margin-top: 1px;
}

.navibar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navibar .header-content {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
}

.navibar .time-display {
  align-self: flex-start;
  display: flex;
}

.navibar .time-display span {
  padding: 10px 20px;
  color: var(--color-gold);
  font-size: 24px;
}

.navibar .title {
  display: flex;
  justify-content: space-between;
  align-self: top;
}

.navibar .title a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-image 0.3s, color 0.3s;
}

.navibar .menu {
  display: inline-flex;
  justify-content: left;
  flex-basis: 100%;
  width: 100%;
  margin-top: 10px;
}

.navibar .menu .play {
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
}

.navibar .menu .play:hover {
  background-color: #da5dd2;
  color: black;
  transform: scale(1.1);
}

.navibar .menu a {
  color: var(--color-foam);
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
}

.navibar .menu .menuitem:hover {
  background-color: var(--hoverColor);
  color: var(--color-surface);
  transform: scale(1.1);
}

.navibar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  transition: width 0.5s ease;
}