@use '../../styles.scss' as main;

#nav {
  font-family: "Fira Code VF", monospace;

  a {
    text-decoration: dashed underline main.$color-muted;

    &:hover {
      text-decoration-style: solid;
    }
  }
}

.current {
  color: #6cffdf !important;
  text-decoration-style: solid !important;
}

#time-display {
  font-family: "Fira Code VF", monospace;
  color: #5BCEFA;
}