@use '../../styles.scss' as main;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
  font-family: 'Roboto Mono', monospace;
}

.current {
  @apply text-sky-100 !important;
  text-decoration-style: solid !important;
}

#time-display {
  font-family: "Fira Code VF", monospace;
  color: #5BCEFA;
}

hr {
  border: none;
  border-top: 1px solid main.$color-subtle;
}

.nav-item {
  @apply mx-[0.35rem] underline-offset-[4px]
    max-md:flex-col max-md:flex max-md:text-center
    underline decoration-dashed decoration-[#6e6a86] hover:decoration-solid;
}