@use '../../styles.scss';

$bgColor: styles.$color-base;
$hoverColor: styles.$color-iris;
$text: rgba(58, 114, 255, 0.532);

.navbar {
  background-color: rgba($bgColor, 1);
  box-shadow: 0 0 5px 0 rgba(164, 164, 164, 0.233);

  .navbar-brand {
    a {
      color: styles.$color-text;
    }
  }

  .navbar-collapse {
    .menu-item {
      color: $text;
      transition: all 0.5s;

      &:hover {
        background-color: rgba(157, 211, 255, 0.8);
        color: black;
      }
    }
  }
}