.about-me {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.profile-picture img {
    width: 150px;
    height: auto;
    border-radius: 10%;
    margin-bottom: 20px;
}

.bio {
    .bio h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .bio p {
        font-size: 1em;
        line-height: 1.5;
    }
}


.tu-do {
    height: 2em;
    vertical-align: middle;
    transition: background-color 0.5s;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);

    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.skills {
    overflow: scroll;
}
