.about-me {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    font-family: Arial, sans-serif;
}
  
.profile-picture img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
  
.bio h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
  
.bio p {
    font-size: 1em;
    line-height: 1.5;
}
  
.social-links {
    margin-top: 20px;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
  
.social-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
  
.social-links a i {
    margin-right: 8px;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: fill 0.5s, width 0.5s, height 0.5s;
}
  
.social-icon:hover {
    width: 60px;
    height: 60px;
}

.tu-do {
    height: 2em;
    vertical-align: middle;
}
  

  