<div class="container-fluid" data-bs-theme="dark">
  <div class="row p-3">
    <div class="col-xl-7 d-flex justify-content-center flex-column">
      <div class="col-12">
        <p-timeline [timeline]="education" title="Education"/>
      </div>
      <div class="col-12">
        <p-timeline [timeline]="jobExperience" title="Job experiences"/>
      </div>
      <div class="col-12">
        <p-timeline [timeline]="projects" title="Projects"/>
      </div>
    </div>
    <div class="col-xl-5">
      <p-skills/>
    </div>
  </div>
</div>