<div class="container">
  <h2 class="title">My Projects</h2>
  <div class="list">
    @for (project of projects; track project) {
      <div class="item">
        <h3 class="each-title">{{ project.title }}</h3>
        @if (project.since) {
          <p class="each-since">{{ project.since }}</p>
        }
        <p class="each-desc">{{ project.description }}</p>
        <a [href]="project.source" class="each-link" target="_blank">Source</a>
        @if (hasLink(project)) {
          <span>
            /
            <a [href]="project.link" class="each-link" target="_blank">View</a>
          </span>
        }
      </div>
    }
  </div>
</div>
