<div class="grid grid-cols-1 md:grid-cols-2 gap-4 container mx-auto place-items-center mt-5">
  @for (project of projects; track $index) {
    <div class="lg:w-[80%] h-full w-full border rounded-lg shadow bg-gray-800 border-gray-700 relative flex flex-col">
      <div class="relative w-auto h-48 mx-auto mt-2">
        <img [ngSrc]="project.image ?? '/backgrounds/projects/notfound.svg'"
             class="w-full h-full object-cover" alt="ligma" height="200" width="200" priority>
      </div>
      <div class="p-3 flex-grow">
        <h3 class="text-2xl font-bold">{{ project.title }}</h3>
        <div class="flex flex-row justify-between text-[0.9rem]">
          <p class="text-gray-500">{{ precomputedIntervalString.get(project) }}</p>
          <div class="text-gray-600">
            @if (project.source) {
              <a [href]="project.source" target="_blank" class="hover:underline hover:text-gray-400">SOURCE</a>
              @if (project.view) {
                /
                <a [href]="project.view" target="_blank" class="hover:underline hover:text-gray-400">LIVE</a>
              }
            }
          </div>
        </div>
        <div class="text-[1.1rem]">
          @if (typeof project.description === 'string') {
            <p>{{ project.description }}</p>
          } @else {
            <ul class="list-inside">
              @for (desc of project.description; track $index) {
                <li class="list-['🠆_']">{{ desc }}</li>
              }
            </ul>
          }
        </div>
      </div>
    </div>
  }
</div>