<div class="pnf container-fluid tw-text-center tw-max-w-[85%] tw-m-[20px_auto]">
    <div class="tw-font-bold tw-text-[36px] tw-text-[#e74c3c]">
        Oopsie woopsie, you are not supposed to be here!
    </div>
    <img ngSrc="https://http.cat/404" priority alt="404" class="img-fluid tw-mx-auto" width="750" height="600"/>
    <div class="back tw-mt-[30px] tw-h-[30px]">
        <a routerLink="/" class="text-decoration-none tw-text-[#007bff] tw-text-[22px] tw-font-[500]
            hover:tw-bg-[#007bff] hover:tw-text-white
        ">Go back Home</a>
    </div>
</div>
