<div class="pnf container-fluid text-center max-w-[85%] m-[20px_auto]">
    <div class="font-bold text-[36px] text-[#e74c3c]">
        Oopsie woopsie, you are not supposed to be here!
    </div>
    <img ngSrc="https://http.cat/404" priority alt="404" class="img-fluid mx-auto" width="750" height="600"/>
    <div class="back mt-[30px] h-[30px]">
        <a routerLink="/" class="text-decoration-none text-[#007bff] text-[22px] font-[500]
            hover:bg-[#007bff] hover:text-white
        ">Go back Home</a>
    </div>
</div>
