<div class="m-4">
  @if ($skills.isPending()) {
    <pp-loading/>
  } @else if ($skills.isError()) {
    <pp-failed title="Failed to load skills"/>
  } @else {
    @let skills = $skills.data();
    <div>
      @for (entry of skills; track entry.id) {
        @if (entry.display) {
          <div [id]="entry.id">
            <h1 class="text-center text-xl font-bold my-0 mt-3">{{ entry.title }}</h1>
            @for (skill of entry.entries; track $index) {
              @if (!skill.isLanguage) {
                <p-level [name]="skill.name" [level]="skill.level" [will]="skill.will"
                         [showScore]="showScore">{{ skill.desc }}
                </p-level>
              } @else {
                <p-level [name]="skill.name" [level]="skill.level" [will]="skill.will" [showScore]="showScore"
                         pLanguage>{{ skill.desc }}
                </p-level>
              }
            }
          </div>
        }
      }
    </div>
  }

  <div class="mb-4 mt-6">
    <div class="flex justify-center select-none group">
      <i class="bi bi-star-fill group-hover:text-[#f6c177] group-hover:font-bold"></i>
      <span class="ms-2">I would like to continue developing this skill and become better in the future.</span>
    </div>
    <div class="flex justify-center pt-2">
      <div class="flex items-center cursor-pointer">
        <div class="translate-y-1">
          <p-toggle-switch [(ngModel)]="showScore"/>
        </div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300 select-none">Toggle score to the right of the bar</span>
      </div>
    </div>
  </div>
</div>