<div class="container flex justify-center items-center">
  <div class="timeline px-[30px] py-[20px] my-3 min-w-full">
    <h3 class="font-bold text-2xl text-center">{{ title }}</h3>
    <ul class="events list-unstyled">
      @for (event of timeline; track $index) {
        <li class="event relative flex flex-col items-start cursor-pointer p-[20px]">
          <span class="p-[2px_5px] bg-[#0e3870] inline-block text-center rounded-[4rem]">{{ appendDate(event) }}</span>
          <div class="flex flex-col items-start">
            <h3 class="text-[#188fd2] font-bold pt-3 pb-2">{{ event.title }}</h3>
            @if (Array.isArray(event.description)) {
              <ul>
                @for (desc of event.description; track $index) {
                  <li class="sub-li">
                    <p class="text-left">{{ desc }}</p>
                  </li>
                }
              </ul>
            } @else {
              <p>{{ event.description }}</p>
            }
            @if (event.source) {
              <span>
                  <a [href]="event.source" class="github-link" target="_blank">Source</a>
                @if (event.view) {
                  / <a [href]="event.view" class="github-link" target="_blank">View</a>
                }
                </span>
            }
          </div>
        </li>
      }
    </ul>
  </div>
</div>