.success {
    background-color: #051b11;
    color: #75b798;
}

.info {
    background-color: #031633;
    color: #6ea8fe;
}

.warning {
    background-color: #332701;
    color: #ffda6a;
}

.error {
    background-color: #2c0b0e;
    color: #ea868f;
}

.toast-header {
    background-color: rgb(101, 101, 101);
    color: rgb(177, 177, 177);
}