:host {
  --blueBar: #7ab2ed;
  --greenHover: #4fe298;
}

.skills {
  text-align: left;
  margin-top: 20px;
}

.skill-bar-container {
  margin: 10px 0;
}

.skill-bar {
  height: 70px;
  background-color: var(--blueBar);
  color: rgb(94, 94, 94);
  line-height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  white-space: nowrap;
  transition: width 2s, background-color 1s;
  width: 0;
  align-items: center;
  display: flex;
}

.skill-bar:hover {
  background-color: var(--greenHover);
}


.skill-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}