.wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .button-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button {
            margin: 0 10px;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
        }
    }

    .field {
        margin: 10px;
        max-width: 950px;
        width: 60vw;
        align-self: center;
        display: flex;
    }
}

.list {
    max-width: 950px;
    width: 80vw;

    .item {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        // padding: 10px;
        border-bottom: 1px solid #55555548;

        .content {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
    }

    .link {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-decoration: none;
        color: inherit;
    }

    .arrow {
        margin: 0 52px;
    }

    .url {
        flex: 5;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .icon {
        margin: 0 10px;
        cursor: pointer;
    }
}

h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.display {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
        color: inherit;
    }
}