<h1>Shorten your URL</h1>
<div class="wrapper">

  <p class="display">
    <a class="link" href="{{ httpString() + url }}" target="_blank">s.7278008.xyz/{{key}}</a>
    &nbsp;➜&nbsp;
    <span class="url">
      {{ (httpString() + url) ? (httpString() + url) : 'https://some.example/site' }}
    </span>
  </p>


  <mat-form-field class="key field" floatLabel="always">
    <mat-label>Link key</mat-label>
    <input matInput type="text" [(ngModel)]="key"
      maxlength="20"
      [formControl]="keyFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Enter key">
    <mat-hint align="end"> {{ key.length }} / 20</mat-hint>
    @if (keyFormControl.hasError('required')) {
      <mat-error>Key is required</mat-error>
    }
    @if (keyFormControl.hasError('pattern')) {
      <mat-error>
        Key can only contain characters, numbers and . - _ &commat;
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field class="url field" floatLabel="always">
    @if (usePrefix) {
      <span matTextPrefix>{{ httpString() }}</span>
    }
    <mat-label>URL</mat-label>
    <input matInput type="text" [(ngModel)]="url"
      maxlength="1000"
      [formControl]="urlFormControl"
      [errorStateMatcher]="matcher"
      placeholder="{{ (!usePrefix ? 'https://' : '' ) + 'some.example/site'}}">
      <mat-hint align="end"> {{ url.length }} / 1000</mat-hint>
      @if (urlFormControl.hasError('required')) {
        <mat-error>URL is required</mat-error>
      }
      @if (urlFormControl.hasError('pattern')) {
        <mat-error>
          URL is not valid! Must start with http:// or https://
        </mat-error>
      }

      <mat-icon matSuffix (click)="usePrefix=!usePrefix" class="material-symbols-outlined">
        {{usePrefix ? 'check_box_outline' : 'check_box_outline_blank'}}
      </mat-icon>
    </mat-form-field>

    <div class="button-wrapper">
      <button [disabled]="!keyFormControl.valid || !urlFormControl.valid" mat-stroked-button type="submit"
        (click)="send()">
      Shorten
    </button>

    <button mat-stroked-button type="submit" (click)="list()">List</button>
  </div>


  @if (isCorrectType(listResult)) {
    <div class="list">
      <mat-list>
        @for (item of listResult.result; track item) {
          <mat-list-item class="item">
            <div class="content">
              <mat-icon class="icon" matListIcon (click)="copy('k', item.key)">link</mat-icon>
              <a class="link" [href]="httpString() + item.url" target="_blank">{{ item.key }}</a>
              <mat-icon class="material-symbols-outlined arrow">
                arrow_right_alt
              </mat-icon>
              <mat-icon class="icon" matListIcon (click)="copy('u', item.url)">content_copy</mat-icon>
              <span class="url">
                {{ item.url }}
              </span>
            </div>
          </mat-list-item>
        }
      </mat-list>
    </div>
  }
</div>