<div class="m-6">
  @if (projects.isPending()) {
    <pp-loading/>
  } @else if (projects.isError()) {
    <pp-failed/>
  } @else {
    <p-data-view [value]="projects.data()">
      @let datas = projects.data();
      <ng-template #list>
        <div class="grid grid-cols-12 border rounded-lg border-gray-700">
          @for (pj of datas; track $index; let fst = $first; let lst = $last) {
            <!-- only top border when not first (divide line) -->
            <div class="col-span-12 border-gray-700"
                 [ngClass]="{ 'border-t': !fst }">

              <!-- only rounded top when first and bottom when last -->
              <div class="flex flex-col lg:grid lg:grid-cols-12 p-4"
                   [ngClass]="{ 'rounded-t-lg': fst, 'rounded-b-lg': lst }">

                <div class="col-span-4 relative w-auto h-48 mx-auto mt-2">
                  <img [ngSrc]="pj.image ?? '/backgrounds/projects/notfound.svg'"
                       class="w-full h-full object-contain"
                       width="200" height="150" alt="" priority/>
                </div>

                <div class="col-span-8 max-lg:pt-4 px-4">
                  <!-- Right text card -->
                  <div class="text-2xl font-bold"> {{ pj.title }}</div>
                  <div class="flex flex-row justify-between text-[0.9rem] text-gray-500">
                    <!-- Method returns different string for different layout-->
                    <div class="max-md:hidden"> {{ processInterval(pj.interval) }}</div>
                    <div class="md:hidden">{{ processInterval(pj.interval, true) }}</div>

                    <div class="uppercase">
                      @if (pj.source) {
                        <a [href]="pj.source" target="_blank" class="link">
                          <span class="max-md:hidden">View</span>
                          Source</a>
                        @if (pj.view) {
                          /
                          <a [href]="pj.view" target="_blank" class="link">
                            <span class="max-md:hidden">View</span>
                            Live</a>
                        }
                      }
                    </div>
                  </div>
                  @if (typeof pj.description === 'string') {
                    <p>{{ pj.description }}</p>
                  } @else {
                    <ul class="list-inside">
                      @for (desc of pj.description; track $index) {
                        <li class="list-disc">{{ desc }}</li>
                      }
                    </ul>
                  }
                </div>
              </div>
            <!-- tech stack -->
            <div class="p-4 rounded-2xl shadow-md">
              <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-8 gap-4">
                <!-- Replace the image src with your actual SVG logo paths -->
                @for (item of pj.icons; track $index) {
                  <div class="flex items-center justify-center p-3 bg-gray-800 rounded-xl hover:scale-[1.05] transition-transform">
                    @if (item.devicon) {
                      <i [class]="item.devicon" class="text-4xl"></i>
                    } @else {
                      <img [src]="item.localPath" [alt]="item.name" class="w-8 h-8"/>
                    }

                    <div class="pl-4 text-gray-300 select-none">
                      @if (item.link) {
                        <a [href]="item.link" target="_blank" class="underline">
                          {{ item.name }}
                        </a>
                      } @else {
                        <span>{{ item.name }}</span>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
            </div>
          }
        </div>

      </ng-template>
    </p-data-view>
  }
</div>