$color-base: #191724;
$color-surface: #1f1d2e;
$color-overlay: #26233a;
$color-muted: #6e6a86;
$color-subtle: #908caa;
$color-text: #e0def4;
$color-love: #eb6f92;
$color-gold: #f6c177;
$color-rose: #ebbcba;
$color-pine: #31748f;
$color-foam: #9ccfd8;
$color-iris: #c4a7e7;

$hl-low: #21202e;
$hl-med: #403d52;

$hl-high: #524f67;

html,
body {
    height: 100%;
    background-color: $color-base;
    color: $color-text;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    background-color: $color-base;
    color: $color-text;
}

.mat-dialog-title {
    color: $color-text;
}

.mat-dialog-actions {
    background-color: lighten($color-text, 40%); // Action area background color
}

// Button styling within the dialog
.mat-dialog-actions .mat-button {
    color: $color-muted;
}